
.FeaturedBoards {
    font-family: sans-serif;
    text-align: left;
    padding: 20px;

}

.card {
    width: 90%;
    height: 350px;
    background: #fffff4;
    color: #fff;
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card img{
    width: 320px;
}

.card .FeaturedName{
    color: #FF914D;
    font-size: 25px;
    padding-top: 20px;
}

.rec.rec-carousel-wrapper .rec-carousel button {
    background: #FF914D;
    color: #fff;
}

.rec.rec-carousel-wrapper .rec-pagination .rec.rec-dot.rec.rec-dot_active {
    background:  #FF914D;
    box-shadow: 0 0 1px 3px rgba(255, 145, 77,0.5);
}

.rec.rec-carousel-wrapper .rec-pagination .rec.rec-dot.rec:hover {
    outline:  red;
}
