
.FeaturedBoards {
    font-family: sans-serif;
    text-align: left;
    padding: 20px;

}

.card {
    width: 75%;
    height: 350px;
    background: #fffff4;
    color: #fff;
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card img{
    width: 320px;
}

.card .FeaturedName{
    color: #FF914D;
    font-size: 25px;
    padding-top: 20px;
}
