.greeting {
    margin: 50px;
    /* background-color: red; */
}

.featured-list .featured{
    background-color: rebeccapurple;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
